Test your knowledge.
Answer the following questions

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

Numbers
Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [76]:
(9.5**2+10)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

What is the value of the expression 4 * (6 + 5)

What is the value of the expression 4 * 6 + 5 

What is the value of the expression 4 + 6 * 5

In [6]:
 print(4 * (6 + 5))
print(4 * 6 + 5)   
print(4 + 6 * 5)

44
29
34

In [2]:
a=  4*(6+5)
b=4*6+5
c=4+6*5
#print(a,b,c)  # this line will give o/p as 44 29 34
print(a)
print(b)
print(c)

44
29
34

What is the type of the result of the expression 3 + 1.5 + 4?

In [3]:
a=3+1.5+4
type(a)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [77]:
# sqrt means power of 0.5
81**0.5

9.0

In [4]:
# sq root
import math
math.sqrt(81)

9.0

In [6]:
math.sqrt(12)

3.4641016151377544

In [7]:
math.isqrt(12)   # isqrt give sq root as a whole integer by rounding and not 3.4641016151377544

3

In [8]:
# sqare
4**2

16

Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [16]:
s = 'hello'
# Print out 'e' using indexing
s[1] 
#print(s[1])  # by using this also u can print but it will not printed in single inverted comma so use s[1]

'e'

Reverse the string 'hello' using slicing:

In [26]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [20]:
s ='hello'
# Print out the 'o'

# Method 1:
s[-1]

'o'

In [21]:
# Method 2:
s[4]

'o'

Lists

Build this list [0,0,0] two separate ways.

In [82]:
# Method 1:
a=[0,0,0]
a

[0, 0, 0]

In [83]:
# Method 2:
[0,0,0]

[0, 0, 0]

In [81]:
# method 3
[0]*3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [47]:
list3 = [1,2,[3,4,'hello']]
a=list3[2]
a[2]='goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

In [59]:
list3 = [1,2,[3,4,'hello']]     # this is like dictonaries how to replace this is easy way
list3[2][2]='goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [85]:
#Method 1
list4 = [5,3,4,6,1]
list4.sort()
print(list4) # or here simply write list4

[1, 3, 4, 5, 6]

In [87]:
# Method 2
sorted(list4)   #  in built function only pass list name

[1, 3, 4, 5, 6]

Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [53]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [60]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [63]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]      # outer bracket is  of dict so grab k1 1st 
                                #then next is []list bracket so use indexing so key is at 0th index then {}dict bracket so grab key 
                                #then []list is there and hello is at 1 index so grab [1] then there is also one list so grab [0] which is hello

'hello'

In [64]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
# grab hello
d['k1'][2]['k2'][1]['tough'][2][0]   # simple logic :
                                     # when u got { this grab key inside that 
                                     # and when u  got [] this grab value or key that u want using indexing that which u want to go

'hello'

# Can you sort a dictionary? Why or why not

# NO!! Normal dictonaries are mapping not a sequence

Tuples

What is the major difference between tuples and lists?

In [65]:
# tuples is same as list but only difference is its objects r written inside parenthesis () and list using [] and
# tuples are immutable while list r mutable # this is major difff
# in built functions like count and index used here go thrugh it
# indexing and slicing same as list

How do you create a tuple?

In [66]:
t = (1,2,'mytuple')
print(t)

(1, 2, 'mytuple')

SET

What is unique about a set?

In [89]:
#go through all cells from notebook set
# they don't allow for duplicate items

Use a set to find the unique values of the list below:

In [68]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

Booleans


For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

Operator	Description	Example
==	If the values of two operands are equal, then the condition becomes true.	(a == b) is not true.
!=	If values of two operands are not equal, then condition becomes true.	(a != b) is true.
>	If the value of left operand is greater than the value of right operand, then condition becomes true.	(a > b) is not true.
<	If the value of left operand is less than the value of right operand, then condition becomes true.	(a < b) is true.
>=	If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.	(a >= b) is not true.
<=	If the value of left operand is less than or equal to the value of right operand, then condition becomes true.	(a <= b) is true.

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [69]:
# Answer before running cell
2 > 3

False

In [70]:
# Answer before running cell
3 <= 2

False

In [71]:
# Answer before running cell
3 == 2.0

False

In [72]:
# Answer before running cell
3.0 == 3

True

In [73]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [74]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False