In [106]:
# some in built functions
#range(start,stop,step)
#enumerate(pass letter)   ----->> this gives tuple pair of index with value
#zip(pass variables ) it stores a o/p at that location return o/p in format of tuples also enumerate return tuples that why tuples packing is imp
#list with zip --->>> list(zip(pass variables))---->> it gives pairs in list format
# in ---->> this keywords to check wether that character or object or element is present or not
#in dictionary d.items() gives keys with its value in tuples format 
# d.keys() returns keys
# d.values() returns values present in dictionary
#min(pass list name) and max(pass variable name list) ---->>> max and min in built functions use to find maximum and min value from list
#random is a library used --->>this library gives o/p different everytime so called random library--->> and import shuffle fun 
# in random lib --->> randint file means it gives int o/p diff everytime
# how to take user input---->> using input function see below

In [20]:
mylist = [1,2,3,4]

In [3]:
# print 0 to 9 
# here printing upto 10 excluidng 10 using in bulit fun range

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [5]:
#print 3 to 9
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [6]:
# print 3 to 9 in steps 2
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [9]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [11]:
range(3,10,2)

range(3, 10, 2)

In [12]:
list(range(3,10,2))

[3, 5, 7, 9]

In [18]:
letter_count = 0
for letter in 'abcde':
    print('AT index  {}  the letter is {}'.format(letter_count,letter))
    letter_count +=1

AT index  0  the letter is a
AT index  1  the letter is b
AT index  2  the letter is c
AT index  3  the letter is d
AT index  4  the letter is e

In [19]:
letter_count = 0
word = 'abcde'
for letter in word:
    print(word[letter_count])
    letter_count +=1

a
b
c
d
e

In [23]:
word = 'abcde'
for letter in enumerate(word):
        print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [30]:
word = 'abcde'
for index,value in enumerate(word):
        print(index)
        print(value)
        print('\n')

0
a


1
b


2
c


3
d


4
e

In [31]:
for index,value in enumerate('Happy'):
        print(index)
        print(value)
        print('\n')

0
H


1
a


2
p


3
p


4
y

In [36]:
l1 = [1,2,3,4]
l2 = ['a','b','c','d']

In [37]:
zip(l1,l2)  # it returnthe location

In [38]:
for item in zip(l1,l2):
    print(item)                 # it return also tuples

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [39]:
l1 = [1,2,3,4]
l2 = ['a','b','c','d']
l3 = [100,200,300,400]

In [40]:
for item in zip(l1,l2,l3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)

In [45]:
l1 = [1,2,3,4,5]
l2 = ['a','b','c','d']
l3 = [100,200,300,400,500]  # here uneven elements in list so in l1 there r 5 elements in l2 4 in l3 5 so shotest elemens r 4 so it gives pairs upto 4 only

In [46]:
for item in zip(l1,l2,l3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)

In [48]:
list(zip(l1,l2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [50]:
for a,b,c in zip(l1,l2,l3):
    print(c)

100
200
300
400

In [53]:
'x' in [1,2,34,4]

False

In [54]:
'x' in ['c','x','d','g']

True

In [55]:
34 in [1,2,34,4]

True

In [56]:
'a' in 'hello world a...'

True

In [58]:
'mykey' in {'mykey':200}

True

In [59]:
d = {'mykey':200}

In [61]:
200 in d.values()

True

In [66]:
'mykey' in d.keys()

True

In [68]:
list1 = [10,239,3490,34,43893,2894]

In [69]:
min(list1)

10

In [71]:
max(list1)

43893

In [74]:
from random import shuffle

In [75]:
list2 = [1,2,3,4,5,6,7,8,9,23,45,50]

In [76]:
shuffle(list2)

In [77]:
list2

[2, 7, 6, 4, 23, 1, 3, 9, 8, 5, 50, 45]

In [81]:
shuffle(list2)

In [82]:
list2   #every time order of elements are change

[1, 50, 45, 3, 6, 8, 7, 5, 9, 2, 23, 4]

In [91]:
random_list = shuffle(list2)

In [93]:
random_list  # it will not written anything bcoz it will not shuffle

In [95]:
type(random_list)

NoneType

In [96]:
list2

[45, 4, 23, 7, 1, 9, 5, 3, 8, 50, 6, 2]

In [98]:
from random import randint

In [101]:
randint(0,100)

37

In [102]:
randint(0,100)

24

In [103]:
mynum = randint(0,100)

In [104]:
mynum

56

# how to take user input

In [1]:
result = input('What is your name?')

What is your name?Amit

In [2]:
result

'Amit'

In [3]:
result = input('What is your fav no?')

What is your fav no?30

In [5]:
result   # see this gives string o/p

'30'

In [6]:
type(result)

str

In [7]:
# how to convert str into int

In [8]:
float(result)

30.0

In [9]:
int(result)

30

In [11]:
result = int(input('favuorite number:'))   # to convert string to int see this one

favuorite number:20

In [13]:
result   # see this is in int

20

In [14]:
type(result)

int