# LEVEL 1 PROBLEMS

we use in this level such as capitalize and join and abs methods go though it

#OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
#old_macdonald('macdonald') --> MacDonald

#Note: 'macdonald'.capitalize() returns 'Macdonald'

In [51]:
# method 1
def old_macdonald(name):
    l1 = name[0]
    inbetwwen  = name[1:3]
    l4 = name[3]
    rest = name[4:]
    
    return l1.upper()+inbetwwen + l4.upper() + rest

In [52]:
old_macdonald('macdonald')

'MacDonald'

In [53]:
def old_macdonald(name):
    return name.capitalize()

In [54]:
old_macdonald('macdonald')       # here only 1st letter is capatalize using function capatalize()

'Macdonald'

In [63]:
# method 2 refer this 
def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() +  second_half.capitalize()              # means here we have separte string in two parts mac and donals and we have use capitalize method to get uppecase of 1st letter of both seaprated strings i.e we have uppercase the m and d so seaprate at d here

In [64]:
old_macdonald('macdonald')

'MacDonald'

# MASTER YODA: Given a sentence, return a sentence with the words reversed


master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [ ]:
# join

In [98]:
mylist = ['hello','what','you','are','doing?']

In [99]:
"---".join(mylist)     # see here to give 3 dash between wordds to words give in ""

'hello---what---you---are---doing?'

In [107]:
"*****".join(mylist)

'hello*****what*****you*****are*****doing?'

In [108]:
def master_yoda(sent):
    sentence=sent.split()
    rev=sentence[::-1]
    return rev                       # join method is to join all wordds present in list if u want space between teo words to join give space between " "

In [109]:
master_yoda('hello what is your name')       # to join this below list see next

['name', 'your', 'is', 'what', 'hello']

In [110]:
def master_yoda(sent):
    sentence=sent.split()
    rev=sentence[::-1]
    return " ".join(rev)                      # join method is to join all wordds present in list if u want space between teo words to join give space between " "

In [111]:
master_yoda('hello what is your name')

'name your is what hello'

In [112]:
master_yoda('I am home')

'home am I'

In [113]:
master_yoda('We are ready')

'ready are We'

# ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [129]:
#method 1
def almost_there(n):
    if 100-10<=n<=100+10:
        return True
    elif 190<=n<=210:
        return True
    else:
        return False

In [130]:
almost_there(90)

True

In [131]:
almost_there(104)

True

In [132]:
almost_there(150)

False

In [128]:
almost_there(209)

True

In [133]:
# method 2
def almost_there(n):
    return (100-10<=n<=100+10) or (200-10<=n<=200+10)

In [134]:
almost_there(209)

True

In [135]:
almost_there(150)

False

In [136]:
#method 3 easy using abs it convert negative to positive value if there

In [137]:
def almost_there(n):
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [138]:
almost_there(150)

False

In [140]:
almost_there(209)

True