In [1]:
'hello'

'hello'

In [2]:
"This is string"

'This is string'

In [3]:
'i'm not a string' # here quotes are not proper compiler confuse    ########################

SyntaxError: invalid syntax (<ipython-input-3-837421f4d8f8>, line 1)

In [4]:
"I'm not a string"

"I'm not a string"

see some diff bet writting print function and when not

In [5]:
"hello"

'hello'

In [10]:
print("hello")  # here out is no longer see above  and also in output quotes are not there

hello

In [11]:
"hello mom"
"hello dad"

'hello dad'

In [12]:
print("hello mom")
print("hello dad")

hello mom
hello dad

next line  use \n

In [13]:
print('hello world')

hello world

In [14]:
print('hello \n world')

hello
 world

In [15]:
print('hello \nworld')

hello
world

In [16]:
print('hello \t world')

hello 	 world

In [17]:
print('hello \tworld')

hello 	world

In [18]:
print("hello \n aj rock")

hello
 aj rock

In [19]:
print("hello \n aj \n rock")

hello
 aj
 rock

In [20]:
print("hello \n aj \nrock")

hello
 aj
rock

In [21]:
print("hello \naj \n rock")

hello
aj
 rock

In [22]:
print("hello \naj \nrock")

hello
aj
rock

In [1]:
print("hello \t aj \t rock")          ############

hello 	 aj 	 rock

In [24]:
print("hello \n aj \trock")

hello
 aj 	rock

In [25]:
print("hello \n aj \t rock")

hello
 aj 	 rock

In [26]:
print("hello \taj \n rock")

hello 	aj
 rock

In [27]:
print("hello \t aj \nrock")

hello 	 aj
rock

In [28]:
# to find length of a string
len(hello)

NameError: name 'hello' is not defined

In [29]:
len('hello')

5

In [30]:
len('I am')

4

In [35]:
len("Hello \n world") # here n is not count but space will count and also \

13

Indexing (grab single character)

In [36]:
mystring="abcdefghij"

In [37]:
mystring

'abcdefghij'

In [38]:
mystring[0]

'a'

In [39]:
mystring[-1]

'j'

In [41]:
mystring[5]

'f'

In [42]:
mystring[14] # index is in not range

IndexError: string index out of range

slicing [start:stop:step] <--- syntax (to grab subsection of a string )

In [5]:
mystring='fghijklmnop'

In [6]:
mystring

'fghijklmnop'

In [7]:
# [start:stop:step]  this is slicing(grab subsection of characters)
mystring[::]

'fghijklmnop'

In [46]:
mystring[0::]

'fghijklmnop'

In [47]:
mystring[0:]

'fghijklmnop'

In [48]:
mystring[2::]

'hijklmnop'

In [49]:
mystring[2:]

'hijklmnop'

In [50]:
mystring[:3] # 3 index is not include but it goes upto 3

'fgh'

In [52]:
mystring[3:6] # starts at 3 index which includes and upto 6 which not include

'ijk'

In [53]:
# step

In [54]:
mystring[::2] # steps index by 2

'fhjlnp'

In [55]:
mystring[::3]

'filo'

In [56]:
mystring[2:7:2]  # see this one time

'hjl'

In [57]:
mystring[::-1] # reverse string (sometimes asked in vivaor interviws onle remeber syntax) see how very easy it is in one line we can reverse string but in c language we have to write many for loops

'ponmlkjihgf'

In [58]:
#direct accessing indexing and slicing

In [59]:
"moniter"[3]

'i'

In [61]:
'successful'[3:7]

'cess'

In [62]:
'successful'[3:7:2]

'cs'

string properties and methods

In [ ]:
# immutable means cannot change string

In [3]:
name = "amit"

In [4]:
name[0] = 'su' # it can't replace strings by using indexing so for that grab which u want

TypeError: 'str' object does not support item assignment

In [8]:
#grab mit form amit

y=name[1:]

In [10]:
x= 'su'

In [11]:
y

'mit'

In [18]:
z=x+y #(2 varibale used)

In [20]:
z # so in place of 'a' we have replace su and make amit to sumit

'sumit'

In [23]:
z=x*y

TypeError: can't multiply sequence by non-int of type 'str'

In [27]:
z=x-y

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [28]:
z=x/y

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [29]:
z

'su'

In [34]:
concate='su'+y #another way to direct adding cahracter (only 1 variable used here) known as "concanatation"

In [35]:
concate

'sumit'

In [50]:
concate=concate + "is very smart boy,"  # if u run again an again it will update evry time and prints multile times form

In [51]:
concate

'sumitis very smart boy is very smart boy is very smart boy! is very smart boy!is very smart boy,'

In [52]:
concate=concate + " is very smart boy!"

In [53]:
concate

'sumitis very smart boy is very smart boy is very smart boy! is very smart boy!is very smart boy, is very smart boy!'

In [55]:
letter = z

In [56]:
letter* 10

'suis very smart boyis very smart boysuis very smart boyis very smart boysuis very smart boyis very smart boysuis very smart boyis very smart boysuis very smart boyis very smart boysuis very smart boyis very smart boysuis very smart boyis very smart boysuis very smart boyis very smart boysuis very smart boyis very smart boysuis very smart boyis very smart boy'

In [58]:
letter = 'z'

In [59]:
letter * 10  # see difference in this example and above

'zzzzzzzzzz'

In [60]:
2 + 3

5

In [64]:
'2' + "3"  # in quotes it assumes as string only not worry about whether it is int ,float or any other data type

'23'

In [65]:
'2'+ '3'

'23'

How to make uppercase and  lowercase to string

In [67]:
c = 'hey guys'
c.upper()       # press Tab after .    and give () after that
c.lower()

'hey guys'

In [68]:
print(c.upper())
print(c.lower())

HEY GUYS
hey guys

In [72]:
c.upper  # () missing

In [73]:
c   #origanal c still

'hey guys'

In [71]:
# split function

In [74]:
c.split()  # split at space

['hey', 'guys']

In [75]:
c.split('y')  #split at y

['he', ' gu', 's']

In [76]:
c= 'now i got confidence in learning python'

In [78]:
c.split()

['now', 'i', 'got', 'confidence', 'in', 'learning', 'python']

In [81]:
c.split

print formatting with string using .FORMAT anf FLOAT AND F(NEW IN PYTHON VERSION) method

In [82]:
#1) .FORMAT METHOD
#SYNTAX
# print('STRING HERE {} {} {} {} ......'.format('something 1','something 2','something 3',........))

In [83]:
print('Today {} is happy'.format('my doggy'))

Today my doggy is happy

In [86]:
print('I am happy{}'.format('at home'))

I am happyat home

In [87]:
print('I am happy {}'.format('at home'))

I am happy at home

In [88]:
print('These are colours such as {} {} {}'.format('black','red','white'))

These are colours such as black red white

In [89]:
print('These are colours such as {0} {1} {2}'.format('black','red','white'))

These are colours such as black red white

In [90]:
print('These are colours such as {2} {1} {0}'.format('black','red','white'))

These are colours such as white red black

In [91]:
print('These are colours such as {0} {0} {0}'.format('black','red','white'))

These are colours such as black black black

In [93]:
print('These are colours such as {b} {r} {w}'.format(b='black',r='red',w='white'))  # using keywords its very useful for accessing rather than indexing bcoz we have to count index

These are colours such as black red white

In [94]:
print('These are colours such as {r} {r} {w}'.format(b='black',r='red',w='white'))

These are colours such as red red white

In [95]:
print('These are colours such as {r} {r} {r}'.format(b='black',r='red',w='white'))

These are colours such as red red red

In [99]:
print('These are colours such as {} {} {}'.format('black'))

IndexError: Replacement index 1 out of range for positional args tuple

In [100]:
print('These are colours such as {0} {0} {0}'.format('black')) #its working

These are colours such as black black black

In [102]:
print('These are colours such as {b} {b} {b}'.format(b='black')) # this also working

These are colours such as black black black

In [103]:
# FLOAT FARMATING METHOD
# SYNTAX
# SAME AS .FAROMAT BUT SOME CHANGES IN {}
#"{VALUE:WIDTH.PRECISION f}"
# value is result which u want in o/p ,witdh is space betwwen string and value , precision is digit after decimal point

In [108]:
result = 100/487

In [109]:
result

0.2053388090349076

In [113]:
print("the result was {r:1.3f}".format(r=result))

the result was 0.205

In [114]:
print("the result was {r:1.3f}".format(r='result'))

ValueError: Unknown format code 'f' for object of type 'str'

In [115]:
print("the result was {r:1.5f}".format(r=result))

the result was 0.20534

In [116]:
print("the result was {r:6.3f}".format(r=result))

the result was  0.205

In [117]:
print("the result was {r:15.3f}".format(r=result))

the result was           0.205

In [124]:
result=337/47

In [125]:
result

7.170212765957447

In [126]:
print("the result was {r:15.3f}".format(r=result))

the result was           7.170

In [127]:
# This is new concept lanuch in python in version 3.6
# F string pr formatted string literal

In [128]:
print("the result was {r:15.3f}".format(r=result))

the result was           7.170

In [132]:
r=7.170

In [134]:
print(f'the result was {r}') # very simple syntax see above and this example

the result was 7.17

In [135]:
name='amit'

In [137]:
print('hello,his name is {}'.format(name))  # using .format

hello,his name is amit

In [139]:
print(f'hello,his name is {name}')          # using F string method

hello,his name is amit

In [141]:
name='muktesh'
age=22
education='BE'
job='software developer'
experience='10 years long'

print(f'his name is {name} and {age} years old , completed {education} in Datta meghe college of engineering , now working as {job} and experience is of {experience}')

his name is muktesh and 22 years old , completed BE in Datta meghe college of engineering , now working as software developer and experience is of 10 years long

In [142]:
print(f'his name is {name} and {age} years old.')

his name is muktesh and 22 years old.

In [1]:
print(f'his name is {name} and {22} years old  )                     # only we can pass variable

SyntaxError: EOL while scanning string literal (<ipython-input-1-6662af136ba4>, line 1)

In [2]:
print(f'his name is {'muktesh'} and {age} years old )                     # see here also

SyntaxError: invalid syntax (<ipython-input-2-8219d3a6af50>, line 1)