# 1) represenation of list (syntax)
# 2) indexing and slicing 
# 3) concatenation of list
# 4) some usefull functions like APPEND , POP , SORT (sorted(pass list name ) this is in built function see cell) , REVERSE .

# 5) In string we can't able to replace character or string but in list we can do it directly
# 6) list is mutable (we can change the values inside a list)

In [5]:
my_list = [1,2,3,'a','b']

In [6]:
my_list

[1, 2, 3, 'a', 'b']

In [7]:
my_list = [1,2,3,'a','b',b]

NameError: name 'b' is not defined

In [8]:
my_list

[1, 2, 3, 'a', 'b']

In [10]:
my_list = ['one','two','three','four']

In [ ]:
# indexing

In [11]:
my_list[0]

'one'

In [12]:
my_list[-1]

'four'

In [ ]:
# slicing

In [13]:
my_list[0:]

['one', 'two', 'three', 'four']

In [14]:
my_list[1:]

['two', 'three', 'four']

In [15]:
my_list[1:2]

['two']

In [32]:
my_list[0:4:2]

['hey i am replace now', 'three']

In [ ]:
# replacement of string

In [17]:
my_list[0] = 'hey i am replace now'

In [18]:
my_list

['hey i am replace now', 'two', 'three', 'four']

In [57]:
ur_list = ['tomoto=40kg','onion=60kg','flower=80kg','garlic=20kg']

In [58]:
ur_list

['tomoto=40kg', 'onion=60kg', 'flower=80kg', 'garlic=20kg']

In [59]:
ur_list[-1] = 'garlic = 30kg'

In [60]:
ur_list

['tomoto=40kg', 'onion=60kg', 'flower=80kg', 'garlic = 30kg']

In [61]:
# Append (add new )

ur_list.append('methi=20kg')

In [62]:
ur_list

['tomoto=40kg', 'onion=60kg', 'flower=80kg', 'garlic = 30kg', 'methi=20kg']

In [63]:
ur_list.append('kobi=50kg')

In [64]:
ur_list

['tomoto=40kg',
 'onion=60kg',
 'flower=80kg',
 'garlic = 30kg',
 'methi=20kg',
 'kobi=50kg']

In [65]:
ur_list.pop()

'kobi=50kg'

In [66]:
ur_list

['tomoto=40kg', 'onion=60kg', 'flower=80kg', 'garlic = 30kg', 'methi=20kg']

In [67]:
ur_list.pop(0)

'tomoto=40kg'

In [68]:
ur_list.pop(0)

'onion=60kg'

In [69]:
ur_list

['flower=80kg', 'garlic = 30kg', 'methi=20kg']

In [70]:
ur_list.pop(1)

'garlic = 30kg'

In [71]:
ur_list

['flower=80kg', 'methi=20kg']

In [72]:
popped_item = ur_list.pop()

In [73]:
popped_item

'methi=20kg'

In [74]:
ur_list

['flower=80kg']

In [75]:
ur_list.pop(-1)

'flower=80kg'

In [76]:
ur_list

[]

In [ ]:
# sort list

In [77]:
new_list = ['one','two','three','four','five']

In [78]:
new_list

['one', 'two', 'three', 'four', 'five']

In [79]:
new_list.sort()

In [80]:
new_list # here words are arrange in according to alphabets A to Z f--->o------->t-------->

['five', 'four', 'one', 'three', 'two']

In [81]:
list = ['a','g','f','f','j','k']

In [82]:
list

['a', 'g', 'f', 'f', 'j', 'k']

In [83]:
list.sort()

In [84]:
list

['a', 'f', 'f', 'g', 'j', 'k']

In [85]:
my_sorted_list = list.sort()

In [86]:
my_sorted_list             # sort list doesn't return anything so see here it return nothing

In [87]:
type(my_sorted_list)      # see its return nothing type is none

NoneType

In [89]:
None   # none is the object where is not return any value no value

In [90]:
list.sort()
my_sorted_list = list

In [91]:
my_sorted_list                     # to avoid nonetype see above assignment

['a', 'f', 'f', 'g', 'j', 'k']

In [92]:
num_list = [1,4,6,3,2,89,34]

In [93]:
num_list.sort()

In [94]:
num_list

[1, 2, 3, 4, 6, 34, 89]

In [95]:
# reverse a list

In [96]:
num_list.reverse()

In [97]:
num_list

[89, 34, 6, 4, 3, 2, 1]

In [98]:
# concatanation of two strings

In [99]:
list1 =['one','two','three']
list2 =['four','five']

In [100]:
new_list = list1 + list2

In [101]:
new_list

['one', 'two', 'three', 'four', 'five']

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [1]:
list3 = [1,2,[3,4,'hello']]
a=list3[2]
a[2]='goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

In [3]:
list3 = [1,2,[3,4,'hello']]     # this is like dictonaries how to replace this is easy way
list3[2][2]='goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

In [4]:
# Method 1
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

In [6]:
# Method 2
sorted(list4)   #   in built function only pass list name

[1, 3, 4, 5, 6]