In [1]:
name = input("what is ur name?")
print(name)

what is ur name?Amit
Amit

In [2]:
# data types
# variables assigment
# statement and expression
# aumented assignment operator
# string
# formatted string
# string indexes 
# string slicing ,[start:stop:stepover]
# string built in functions --->>> len,capitalise,upper,lower,find,replace

In [3]:
5//3 # rounding value   # but gives floor value not ceil exammple if 3.8 it gives 3 not 4

1

In [4]:
print(19/5)
print(19//5)

3.8
3

In [5]:
5/3  # actual division

1.6666666666666667

In [6]:
# operator precedence -->> () ** // * / + -

In [7]:
# math functions

In [8]:
bin(5)

'0b101'

In [9]:
  # reverse 
int(0b101)

5

In [10]:
print(round(3.8))

4

In [11]:
print(abs(-1))

1

In [12]:
int(bin(5),2)   # base should be 2

5

In [13]:
int(bin(5))

ValueError: invalid literal for int() with base 10: '0b101'

In [14]:
#variables

In [15]:
# _1name , Snake_case  , numbers not should be 1st

In [16]:
# staement and expressions

In [17]:
# every line is a staement 
# and value/2 is a exp

value = 100
mean = value/2
print(mean)

50.0

In [18]:
# augmented assignment operators

In [19]:
value = 10
value += 2
print(value)

12

In [20]:
value = 10
value **= 2
print(value)

100

In [21]:
# string

In [22]:
print(type('hi'))

<class 'str'>

In [23]:
print('hi')

hi

In [24]:
# for long sring use '''  '''

In [25]:
message = '''

w o w
- - -
0 0 0
'''
print(message)

w o w
- - -
0 0 0

In [26]:
print('it\'s raining')

it's raining

In [27]:
print('it\'s \'kind off\' raining')

it's 'kind off' raining

In [28]:
print("it\'s \'kind off\' raining")

it's 'kind off' raining

In [29]:
print("it\'s \"kind off\" raining")

it's "kind off" raining

In [30]:
print("it\'s /'kind off/' raining")

it's /'kind off/' raining

In [31]:
t("it\'s "kind off" raining")

SyntaxError: invalid syntax (<ipython-input-31-fcbe50d7fdce>, line 1)

In [32]:
# formatted string

In [33]:
name = 'amit'
age = 20
print('hi!' +name + 'your age is' +age)

TypeError: can only concatenate str (not "int") to str

In [34]:
name = 'amit'
age = 20
print('hi! ' +name + ' your age is ' +str(age))

hi! amit your age is 20

In [35]:
print(f'hi! {name}. your age is {age}')

hi! amit. your age is 20

In [36]:
#string indexes

In [37]:
name = 'amit'
print(name[0])
print(name[3])
print(name[4])

a
t

IndexError: string index out of range

In [38]:
# string slicing
name = 'amit'
print(name[0])
print(name[3])
print(name[0:2])

a
t
am

In [39]:
mystring= 'amitjadhav'
print(mystring)
#print(mystring[])

amitjadhav

In [40]:
mystring= 'amitjadhav'
print(mystring)
print(mystring[])

SyntaxError: invalid syntax (<ipython-input-40-6bc617a550d2>, line 3)

In [41]:
mystring= 'amitjadhav'
print(mystring)
print(mystring[1:])

amitjadhav
mitjadhav

In [42]:
mystring[-5:]

'adhav'

In [43]:
mystring[:-5]

'amitj'

In [44]:
mystring[-6:-2]

'jadh'

In [45]:
mystring[-1:-6]  # nothing bcoz its not valid range

''

In [46]:
mystring[::]

'amitjadhav'

In [47]:
mystring[::2]

'aijda'

In [48]:
mystring[1:7:2]

'mta'

In [49]:
mystring[::-1]

'vahdajtima'

In [50]:
mystring[-1:-7:-2]

'vha'

# immutability

In [51]:
item = 'helloworld'
item = '100'
print(item)

100

In [52]:
item = 'helloworld'
item[0] = '9'
print(item)

TypeError: 'str' object does not support item assignment

In [53]:
item = 'helloworld'
item = item + '9'
print(item)

helloworld9

In [54]:
item = 'helloworld'
item = item + '!'
print(item)

helloworld!

# string built in functions

In [55]:
string1 = 'helloWorld'
string1.upper()

'HELLOWORLD'

In [56]:
string1.lower()

'helloworld'

In [57]:
string1.capitalize()

'Helloworld'

In [58]:
string1.replace('or','qr')

'helloWqrld'

In [59]:
string1.find('or')

6

In [60]:
string1.count('o')

2

In [61]:
message = 'amitjadhav'
print(message.replace('ad','po'))
print(message)   # it prints original string bcoz it is immutable

amitjpohav
amitjadhav

In [62]:
message = 'amitjadhav'
updated= (message.replace('ad','po'))
print(message)   # it prints original string bcoz it is immutable 
print(updated)   # now its replace after assigning to new variable

amitjadhav
amitjpohav

In [63]:
message = 'amitjadhav'
message = (message.replace('ad','po'))
 
print(message)   # now its replace after assigning to same  variable it can update

amitjpohav

# datatypes conversions

In [64]:
birth_year = input('Enter your birthyear')
age = 2021 - birth_year
print(f'your age is {age}')

Enter your birthyear2001

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [65]:
birth_year = int(input('Enter your birthyear'))
age = 2021 - birth_year
print(f'your age is {age}')

Enter your birthyear2001
your age is 20

In [66]:
birth_year = float(input('Enter your birthyear'))
age = 2021 - birth_year
print(f'your age is {age}')

Enter your birthyear2001
your age is 20.0

In [67]:
bool(0)

False

In [68]:
bool(1)

True

In [69]:
birth_year = bool(input('Enter your birthyear'))
print(type(birth_year))
print(birth_year)
age = 2021 - birth_year
print(f'your age is {age}')

Enter your birthyear2001
<class 'bool'>
True
your age is 2020

Enter your birthyear2001   ----->>>>>. it consider as 1 i.e true
<class 'bool'>
your age is 2020   so 2021-1 = 2020

In [70]:
# if we r not giving any input see 
birth_year = bool(input('Enter your birthyear'))
print(type(birth_year))
print(birth_year)
age = 2021 - birth_year
print(f'your age is {age}')

Enter your birthyear2001
<class 'bool'>
True
your age is 2020

In [71]:
# see it result false and return 2021 only

# list

In [1]:
# collection of different data types 
# orederd sequence of objects

In [3]:
l1 = [1,2,3.0,'amit',True]

In [4]:
l1

[1, 2, 3.0, 'amit', True]

In [5]:
l1[2]

3.0

In [6]:
a1 = [1,2,3.0,'a','b',False]

a2 = a1

a2[2] = 100
print(a1)
print(a2)

[1, 2, 100, 'a', 'b', False]
[1, 2, 100, 'a', 'b', False]

In [7]:
# see same list but i want 100 in only a2 so see how?

# using slicing

a1 = [1,2,3.0,'a','b',False]

a2 = a1[:]

a2[2] = 100
print(a1)
print(a2)

[1, 2, 3.0, 'a', 'b', False]
[1, 2, 100, 'a', 'b', False]

In [9]:
# see now output of above 2 cells compare it

# list methods

In [11]:
a1 = [1,2,3.0,'a','b',False]

print(a1.append(100))

print(a1)

None
[1, 2, 3.0, 'a', 'b', False, 100]

In [16]:
a1 = [1,2,3.0,'a','b',False]

print(a1.insert(4,100))  # no values is asign to it so it execute and it printd none this is in replce function

print(a1)

None
[1, 2, 3.0, 'a', 100, 'b', False]

In [20]:
a1 = [1,2,3.0,'a','b',False]

print(a1.extend([4,100,'c','d']))

print(a1)

None
[1, 2, 3.0, 'a', 'b', False, 4, 100, 'c', 'd']

In [21]:
# pop

In [17]:
a1 = [1,2,3.0,'a','b',False]

print(a1.pop())

print(a1)

False
[1, 2, 3.0, 'a', 'b']

In [18]:
a1 = [1,2,3.0,'a','b',False]

print(a1.pop(2))

print(a1)

3.0
[1, 2, 'a', 'b', False]

In [19]:
a1 = [1,2,3.0,'a','b',False]

print(a1.pop(-2))

print(a1)

b
[1, 2, 3.0, 'a', False]

In [22]:
# remove

In [23]:
a1 = [1,2,3.0,'a','b',False]

print(a1.remove(-2))

print(a1)

ValueError: list.remove(x): x not in list

In [24]:
a1 = [1,2,3.0,'a','b',False]

print(a1.remove(2))

print(a1)

None
[1, 3.0, 'a', 'b', False]

In [25]:
# clear

In [28]:
a1 = [1,2,3.0,'a','b',False]

print(a1.clear())

print(a1)

None
[]

In [29]:
# index

In [30]:
a1 = [1,2,3.0,'a','b',False]

print(a1.index('a',0,2))

print(a1)

ValueError: 'a' is not in list

In [31]:
a1 = [1,2,3.0,'a','b',False]

print(a1.index('a',0,4))

print(a1)

3
[1, 2, 3.0, 'a', 'b', False]

In [33]:
# imp
a1 = [1,2,3.0,'a','b',True]

print(a1.index(True,0,4))

print(a1)

0
[1, 2, 3.0, 'a', 'b', True]

In [34]:
# above o/p index is 0 bcoz true is 1 so it is present at 0th index see what if 1 is not there then

In [37]:
# imp
a1 = ['f',2,3.0,'a','b',True]

print(a1.index(True,0,6))

print(a1)

5
['f', 2, 3.0, 'a', 'b', True]

In [38]:
# now see o/p

In [39]:
# imp
a1 = ['f',2,3.0,'a','b',True,1]

print(a1.index(True,0,6))

print(a1)

5
['f', 2, 3.0, 'a', 'b', True, 1]

In [40]:
# imp
a1 = ['f',2,3.0,'a','b',1,True]

print(a1.index(True,0,6))

print(a1)

5
['f', 2, 3.0, 'a', 'b', 1, True]

In [41]:
# count

In [42]:
a1 = ['f',2,3.0,'a','b',1,True]

print(a1.count(3.0))

print(a1)

1
['f', 2, 3.0, 'a', 'b', 1, True]

In [43]:
a1 = ['f',2,3.0,'a','b','f','f',1,True]

print(a1.count('f'))

print(a1)

3
['f', 2, 3.0, 'a', 'b', 'f', 'f', 1, True]

In [44]:
# sort and sorted imp

In [45]:
a1 = ['f',2,3.0,'a','b','f','f',1,True]

print(a1.sort())

print(a1)

TypeError: '<' not supported between instances of 'int' and 'str'

In [47]:
a1 = ['a','h','b','f','c','e']

print(a1.sort())

print(a1)

None
['a', 'b', 'c', 'e', 'f', 'h']

In [49]:
a1 = ['a','h','b','f','c','e']

print(sorted(a1))

print(a1)

['a', 'b', 'c', 'e', 'f', 'h']
['a', 'h', 'b', 'f', 'c', 'e']

In [50]:
# copy

In [51]:
a1 = ['a','h','b','f','c','e']

a2 = a1.copy()

print(a2)

['a', 'h', 'b', 'f', 'c', 'e']

In [52]:
a1 = ['a','h','b','f','c','e']

print(a1.reverse())

print(a1)

None
['e', 'c', 'f', 'b', 'h', 'a']

In [56]:
a1 = ['a','h','b','f','c','e']
print(reversed(a1))   # as like in sorted this will not work in reverse 
print(a1)

<list_reverseiterator object at 0x00000000076411F0>
['a', 'h', 'b', 'f', 'c', 'e']

In [57]:
a1 = ['a','h','b','f','c','e']

print(a1[::-1])

print(a1)

['e', 'c', 'f', 'b', 'h', 'a']
['a', 'h', 'b', 'f', 'c', 'e']

In [1]:
# 11/2/2021

In [2]:
# lsit unpacking

In [5]:
# Dictionary 

# key: value --->> this pair is unordered

In [6]:
user = {
'name':'sam',
'age' : 21
}

print(user)

{'name': 'sam', 'age': 21}

In [7]:
print(user['name'])

sam

In [10]:
user = {
'name':'sam',
'age' : 21,
'IEEE': False,
'Proj' : None,
'marks' : [12,23,56,78]
}

print(user)

{'name': 'sam', 'age': 21, 'IEEE': False, 'Proj': None, 'marks': [12, 23, 56, 78]}

In [11]:
user = {
'name':'sam',
'age' : 21,
None: False,
'Proj' : None,
'marks' : [12,23,56,78]
}

print(user)

{'name': 'sam', 'age': 21, None: False, 'Proj': None, 'marks': [12, 23, 56, 78]}

In [13]:
user = {
10:'sam',
'age' : 21,
[1,2,3]: False,
'Proj' : None,
'marks' : [12,23,56,78]
}

print(user)

TypeError: unhashable type: 'list'

In [14]:
# keys should always immutable in above dict there is list as a key so it is mutable so error generate

In [16]:
user = {
'name':'sam',
'age' : 21,
'IEEE': False,
'Proj' : None,
'marks' : [12,23,56,78],
'Proj' : 1
}

print(user)

{'name': 'sam', 'age': 21, 'IEEE': False, 'Proj': 1, 'marks': [12, 23, 56, 78]}

In [17]:
# see above proj is updated i.e keys shold not be duplicated

In [20]:
user = {
'name':'sam',
'age' : 21,
'IEEE': False,
'Proj' : None,
'marks' : [12,23,56,78],
'a' : {'b':123}
}

print(user)

{'name': 'sam', 'age': 21, 'IEEE': False, 'Proj': None, 'marks': [12, 23, 56, 78], 'a': {'b': 123}}

In [21]:
user = {
'name':'sam',
'age' : 21,
'IEEE': False,
'Proj' : None,
'marks' : [12,23,56,78],
{'b':123} : 'a'
}

print(user)

TypeError: unhashable type: 'dict'

In [22]:
# so here dict can't be assign as key part of dict bcoz it is mutable

In [24]:
# methods in dict

In [29]:
user = {
'name':'sam',
'age' : 21,
'IEEE': False,
'Proj' : None,
'marks' : [12,23,56,78],
'a' : {'b':123}
}

print(user.get('age'))
print(user.get('b'))

21
None

In [30]:
user = {
'name':'sam',
'age' : 21,
'IEEE': False,
'Proj' : None,
'marks' : [12,23,56,78],
'a' : {'b':123}
}

print(user.get('age'))
print(user.get('b'))
print(user['b'])

21
None

KeyError: 'b'

In [35]:
user = {
'name':'sam',
'age' : 21,
'IEEE': False,
'Proj' : None,
'marks' : [12,23,56,78],
'a' : {'b':123}
}

print(user.get('age'))
print(user.get('age',55))
print(user.get('b',55))  # defult value 55 assign to b bcoz b is not there 
print(user)  # but age is not change by defualt value 
print(user.get(1))

21
21
55
{'name': 'sam', 'age': 21, 'IEEE': False, 'Proj': None, 'marks': [12, 23, 56, 78], 'a': {'b': 123}}
None

In [41]:
user = {
'name':'sam',
'age' : 21,
'IEEE': False,
'Proj' : None,
'marks' : [12,23,56,78],
'a' : {'b':123}
}

print(user.keys())
print(user.values())
print('\n')

# both
print(user.items())
print('\n')
print(user.pop('age'))
print(user)

dict_keys(['name', 'age', 'IEEE', 'Proj', 'marks', 'a'])
dict_values(['sam', 21, False, None, [12, 23, 56, 78], {'b': 123}])


dict_items([('name', 'sam'), ('age', 21), ('IEEE', False), ('Proj', None), ('marks', [12, 23, 56, 78]), ('a', {'b': 123})])


21
{'name': 'sam', 'IEEE': False, 'Proj': None, 'marks': [12, 23, 56, 78], 'a': {'b': 123}}

In [42]:
# user is updated age is pop out

In [43]:
user = {
'name':'sam',
'age' : 21,
'IEEE': False,
'Proj' : None,
'marks' : [12,23,56,78],
'a' : {'b':123}
}

print(user.pop('age','Proj'))

21

In [45]:
user = {
'name':'sam',
'age' : 21,
'IEEE': False,
'Proj' : None,
'marks' : [12,23,56,78],
'a' : {'b':123}
}
print(user.pop('b'))  # not present in dict

KeyError: 'b'

In [47]:
user = {
'name':'sam',
'age' : 21,
'IEEE': False,
'Proj' : None,
'marks' : [12,23,56,78],
'a' : {'b':123}
}

print(user.popitem())  # if not in proper sequence of dict it pop any keys randomely otherwid=se it removes last one
print(user)

('a', {'b': 123})
{'name': 'sam', 'age': 21, 'IEEE': False, 'Proj': None, 'marks': [12, 23, 56, 78]}

In [48]:
user = {
'name':'sam',
'age' : 21,
'IEEE': False,
'Proj' : None,
'marks' : [12,23,56,78],
'a' : {'b':123}
}

print(user.clear())
print(user)

None
{}

In [54]:
# imp
user = {
'name':'sam',
'age' : 21,
'IEEE': False,
'Proj' : None,
'marks' : [12,23,56,78],
'a' : {'b':123}
}

user2 = user.copy()
print(user.clear())
print(user2)
print(user)

None
{'name': 'sam', 'age': 21, 'IEEE': False, 'Proj': None, 'marks': [12, 23, 56, 78], 'a': {'b': 123}}
{}

In [55]:
user = {
'name':'sam',
'age' : 21,
'IEEE': False,
'Proj' : None,
'marks' : [12,23,56,78],
'a' : {'b':123}
}

print(user.update({'age':55}))
print(user)

None
{'name': 'sam', 'age': 55, 'IEEE': False, 'Proj': None, 'marks': [12, 23, 56, 78], 'a': {'b': 123}}

In [57]:
user = {
'name':'sam',
'age' : 21,
'IEEE': False,
'Proj' : None,
'marks' : [12,23,56,78],
'a' : {'b':123}
}

print(user.update({'age':55,'b':100})) # we can add or update existing value key
print(user)

None
{'name': 'sam', 'age': 55, 'IEEE': False, 'Proj': None, 'marks': [12, 23, 56, 78], 'a': {'b': 123}, 'b': 100}

In [63]:
user = [{
'name':'sam',
'age' : 21,
'IEEE': False,
'Proj' : None,
'marks' : [12,23,56,78],
'a' : {'b':123}
},
 {
'name':'sam',
'age' : 21,
'IEEE': False,
'Proj' : None,
'marks' : [12,23,56,78],
'a' : {'b':123}
}
]


print(user)
print('\n')
print(user[0])
print(user[0]['age'])
#print('\n')
print(user[0]['marks'][1])

[{'name': 'sam', 'age': 21, 'IEEE': False, 'Proj': None, 'marks': [12, 23, 56, 78], 'a': {'b': 123}}, {'name': 'sam', 'age': 21, 'IEEE': False, 'Proj': None, 'marks': [12, 23, 56, 78], 'a': {'b': 123}}]


{'name': 'sam', 'age': 21, 'IEEE': False, 'Proj': None, 'marks': [12, 23, 56, 78], 'a': {'b': 123}}
21
23

# tuples

In [1]:
# 17 feb

In [12]:
# ordered 
# immutable

# same as list only diff is this is immutable

In [6]:
t1 = (11,13,3.6,None,True,'hi',11)

In [7]:
t1[0]

11

In [8]:
t1[0:5:2]

(11, 3.6, True)

In [9]:
# methods

In [10]:
t1.count(11)

2

In [11]:
t1.index(None)

3

In [14]:
# unpacking other is as list
t1,t2,*other= (11,13,3.6,None,True,'hi',11)
print(t1)
print(t2)
print(other)   # reaming vlaues store in this as a list
print(type(other))

11
13
[3.6, None, True, 'hi', 11]
<class 'list'>

# set

In [16]:
# unordered(no concept of indexing) collection of unique objects

In [17]:
s1 = {11,13,3.6,None,True,'hi',11}

In [21]:
s1  # see 11 is dupicated but gives only 1 time so it gives unique values  i.e it avoids duplication

{11, 13, 3.6, None, True, 'hi'}

In [19]:
type(s1)

set

In [23]:
# no conccept of indexing
s1[0]

TypeError: 'set' object is not subscriptable

In [25]:
print(11 in s1)

True

In [26]:
# methods

In [27]:
len(s1)

6

In [29]:
s1.add(100)
print(s1)
s1.add(3.6)
print(s1)

{True, 3.6, 100, None, 11, 12, 13, 'hi'}
{True, 3.6, 100, None, 11, 12, 13, 'hi'}

In [31]:
print(s1.clear())
print(s1)

None
set()

In [32]:
s1 = {11,12,3.6,None,True,'hi'}

s2 = s1.copy()

s1.clear()

print(s1)
print(s2)

set()
{True, 3.6, None, 11, 12, 'hi'}

In [33]:
s1 = {11,12,14}
s2 = {3.6,None,True,'hi'}

print(s1.difference(s2))
print(s1)

{11, 12, 14}
{11, 12, 14}

In [37]:
s1 = {11,12,3.6}
s2 = {3.6,None,True,'hi'}

print(s1.difference(s2))  # it removes coomon
print(s1)  # original s1 will not change

{11, 12}
{3.6, 11, 12}

In [38]:
s1 = {11,12,3.6}
s2 = {3.6,None,True,'hi'}

print(s2.difference(s1))
print(s2)  # original s2 will not change

{None, True, 'hi'}
{None, True, 3.6, 'hi'}

In [46]:
s1 = {11,12,3.6}
s2 = {3.6,None,True,'hi'}

print(s2.difference_update(s1))   # it removes common and update s2 so s2 will change  it gives none means action was performed on that
print(s2)  # original s2 will  change

None
{None, True, 'hi'}

In [47]:
s1 = {11,12,3.6}
s2 = {3.6,None,True,'hi'}

print(s1-s2)  
print(s1) # this will not change

{11, 12}
{3.6, 11, 12}

In [48]:
s1 = {11,12,3.6}
s2 = {3.6,None,True,'hi'}

print(s1.intersection(s2))
print(s1)

{3.6}
{3.6, 11, 12}

In [50]:
s1 = {11,12,3.6}
s2 = {3.6,None,True,'hi'}

print(s1.intersection_update(s2))
print(s1)  # update s1

None
{3.6}

In [1]:
s1 = {11,12,3.6}
s2 = {3.6,None,True,'hi'}

print(s1 & s2)  # same as s1.intersection(s2)
print(s1)

{3.6}
{3.6, 11, 12}

In [53]:
s1 = {11,12,3.6}
s2 = {3.6,None,True,'hi'}

print(s1.union(s2))
print(s1)

{True, 3.6, None, 11, 12, 'hi'}
{3.6, 11, 12}

In [54]:
s1 = {11,12,3.6}
s2 = {3.6,None,True,'hi'}

#print(s1.union(s2))
print(s1 | s2)
print(s1)

{True, 3.6, None, 11, 12, 'hi'}
{3.6, 11, 12}

In [55]:
s1 = {11,12,3.6}
s2 = {3.6,None,True,'hi'}

print(s1.isdisjoint(s2))
print(s1)

False
{3.6, 11, 12}

In [57]:
s1 = {11,12,3.6}
s2 = {None,True,'hi'}

print(s1.isdisjoint(s2))
print(s1)

# no common bet sets so true

True
{3.6, 11, 12}

In [59]:
s1 = {11,12,3.6}
s2 = {11,12,3.6,None,True,'hi'}

print(s1.issubset(s2))
print(s1)

True
{3.6, 11, 12}

In [61]:
s1 = {11,12,3.6}
s2 = {11,12,3.6,None,True,'hi'}

print(s2.issuperset(s1))
#print(s1)

True